[submodule "active-adaptation"]
	path = active-adaptation
	url = git@github.com:Daffan/MimicLite.git
	branch = active-adaptation
[submodule "mimic-lite"]
	path = mimic-lite
	url = git@github.com:Daffan/MimicLite.git
	branch = mimic-lite
[submodule "sim2real"]
	path = sim2real
	url = git@github.com:EGalahad/sim2real.git
	branch = main
